*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Urbanist", sans-serif!important;
}

.buttonOne{
    padding: 18px 16px 18px 16px;
    border-radius: 100px;
    background-color: #1BAC4B;
    color: white;
    border: none;
}

.gradientText{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(240deg, #1bac4b, #46d375);
    background-clip: text
}

::placeholder {
    color: rgba(158, 158, 158, 1);
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgba(158, 158, 158, 1);
}

textarea:focus, input:focus{
    outline: none;
}

input[type="checkbox"]{
    appearance: none;
    width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(27, 172, 75, 1);
  font: inherit;
  color: rgba(27, 172, 75, 1);
  border-radius: 5px;
}